html, body, #root, .App, .App > .Flex {
    width: 100%;
    height: 100%;
    font-family: Helvetica;
}

* {
  min-height: 0;
  min-width: 0;
}

.App > .Flex > .Box {
    height: 100%;
}

.App > .Flex {
    border: solid 12px #363942;
}

.App-media {
    border-left: solid 12px #363942;
}
.midnight-container{
    display: inherit;
    height: 30px;
    font-size: 14px;
}
.midnight-text{
    background-color: green;
    margin-left: 7px;
    width: 90%;
    color: white;
    height: 100%;
    padding: 3px;    
}